<a href="https://colab.research.google.com/github/shamilhamza/python-day-1/blob/main/first%20day%20codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("WHAT IS YOUR NAME?")
name=input()
print("HELLO " + name + " !")

WHAT IS YOUR NAME?
shamil
HELLO shamil !

In [12]:
a=int(input())
b=int(input())
sum=a + b
print(sum)

5
5
10

In [14]:
print(4 * 5)

20

In [15]:
a=int(input())
b=int(input())
c=int(input())
s=a + b + c
print(s)

5
101
151
257

In [29]:
a=int(input())
b=int(input())
c=int(input())
print(a + b + c)

10
10
10
30

In [24]:
print("WHAT IS YOUR NAME")
name=input()
print("HI " + name + " !")

WHAT IS YOUR NAME
HAMZA
HI HAMZA !

In [26]:
a=int(input())
b=a * a
print(b)

5
25

In [27]:
B=3
A=4
H=5
area=1 / 2 * (B * H)
print(area)

7.5

In [28]:
BASE=int(input())
HEIGHT=int(input())
AREA=1 / 2 * (BASE * HEIGHT)
print(AREA)

3
5
7.5

In [ ]:
#N= NUMBER OF STUDENTS
#K= NUMBER OF APPLES